@model IEnumerable<StockZilla.Models.ProduitModel>

<h1>Produits de la catégorie : @ViewBag.CategorieNom</h1>


<div class="container" style="display:grid; grid-template-columns:auto auto auto auto; gap:10px;">
    @foreach (var produit in Model)
    {

        <div class="card" style="width: 20rem;">    
            <img src="data:image/jpeg;base64,@produit.ImageBase64" style="; height: 200px;" class="card-img-top" alt="Accroche HTML">
            <div class="card-body">
                <h2 class="card-title">@produit.NomProduit</h2>
                <a href="@Url.Action("DetailsProduits", "Produit", new { idprod= produit.Id })" class="btn btn-primary">Voir+</a>
      
            </div>
        </div>
    }
</div>

